<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>Simple POS Sale</title>
        <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <script src="{{ url_for('static', filename='javascripts/jquery-1.11.1.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='javascripts/common.js') }}" type="text/javascript"></script>
    </head>

    <script type="text/javascript">
    
    function deleteDB() {

        if (!confirm("DB 초기화를 하시겠습니까?\n※사라진 데이터는 복구가 불가능 합니다.\n※상품관리 정보는 삭제되지 않습니다.")) return;

        document.myform.action = "/deleteDB";
        document.myform.submit();
    }

    function printHistory() {

        window.print();

    }

    function excelDown() {

        if (!confirm("엑셀 다운을 하시겠습니까?")) return;

        location.href='/excel/sale';

    }

    </script>

<body>

<form name="myform" action="" method="post">

    <h1>[ 판매 이력 ]</h1>

    <div id="container">
        <table border="1" width="100%" id="sale-history-table">
            <thead>
                <colgroup>
                    <col width="30">
                    <col width="150">
                    <col width="80">
                    <col width="*">
               </colgroup>
                <tr>             
                    <th scope="col" bgcolor="#F9F8F6">No.</th>
                    <th scope="col" bgcolor="#F9F8F6">판매일자</th>
                    <th scope="col" bgcolor="#F9F8F6">판매가격</th>
                    <th scope="col" bgcolor="#F9F8F6">판매상세</th>
                </tr>
            </thead>
            <tbody>
                {% for item in saleResult %}

                    {% if item['sale_code']%2 == 1 %}
                    <tr>
                        <td bgcolor="#DAF2FF">{{item['sale_code']}}</td>
                        <td bgcolor="#DAF2FF">{{item['reg_date']}}</td>
                        <td bgcolor="#DAF2FF">{{format_price(item['sale_price'])}}</td>
                        <td bgcolor="#DAF2FF">{{detailResult[item['sale_code']]}}</td>                        
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{item['sale_code']}}</td>
                        <td>{{item['reg_date']}}</td>
                        <td>{{format_price(item['sale_price'])}}</td>
                        <td>{{detailResult[item['sale_code']]}}</td>
                    </tr>
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if totalResult != None %}
    <h1>총계 : {{format_price(totalResult)}}원</h1>    
    {% endif %}

    <div class="footer">
        <input type="button" onclick="location.href='/'" value="메인" />
        <input type="button" onclick="location.href='/product'" value="상품관리" />
        <input type="button" onclick="location.href='/sale'" value="판매이력" />
        <input type="button" onclick="javascript:excelDown();" value="엑셀 다운" />
        <input type="button" onclick="javascript:printHistory();" value="프린트" />
        <input type="button" onclick="javascript:deleteDB();" value="DB 초기화" />
    </div>

    <!--
    <h3>※Tip!! 기존 데이터를 백업하고 싶다면 simplepos.db 파일을 다른곳에 복사해두세요.</h3>
    -->

</form>

</body>
</html>